/* backgound color*/
body {
  background-image: url('../images/pastel6.png'); /*inserting an image for background*/
  background-repeat: repeat;
  background-size: 100%;
  font-family: 'Verdana' ;
}



/* style for h1*/
h1{
  font-size: 50px;
  color: white;
}

/* style for the footer*/
#footer{
  display: flex; 
  justify-content:center; 
  gap: 15px;
  background-color: navy;
}

/* style for h2*/
h2{
  text-align: center;
  font-size: 36px;
}

/* style for info button*/

#info {
  width: 100px;             
  height: 45px;
  font-size: 25px;          
  background-color: white;
  color: navy;             
  border-radius: 6px;      
}

/*':hover' -> this style will be applied when the user moves their mouse pointer over an element. in this case, the button background color would be changed into light grey*/
#info:hover {
  background-color: lightgray; /* darker blue on hover */
}

/* style for the discription*/
#facility-colors{
  font-size: 25px;
  text-align: center; 
}

/* layout  for the popup box*/
#popupBox {
    display: none; /* the box is hidden in default*/
    position: absolute; /*the place for the box will be specified by me */
    top: 40px;
    left: 0;
    background-color: #fffefe;
    border: 1px solid #0f0c0c;
    padding: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    z-index: 100; /* the box stays above other elements */
    min-width: 350px;
  }

/* styling to the footer buttons*/
.custom-footer {
    border: 2px solid #0f014c;
    padding: 10px 20px;    
    font-size: 20px;        
    width: 170px;          
    height: 50px; 
    color: navy; 
}


/* layout for the box in the facility page */
#facilities {
  display: flex;
  flex-direction: column; /* put boxes vertically */
  align-items: center;    /* center boxes horizontally */
  gap: 10px;              /* gaps between boxes */
  padding: 20px;
}
 /* layout for the each box insite the huge facilities box*/
.fac-box {
  width: 550px;
  padding: 20px;
  border-width: 3px;
  border-style: solid;
  border-color: #0f0c0c;
  color: black;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.4s ease;
  font-size: 25px;
}

/* making the facility box green during the opening hour*/
.open {
  background-color: #b2f2bb !important; /*without importnt, this was not applied */
}

/* making the facility box red during the closing hour*/
.closed {
  background-color: #f08080 !important;
}

/* style for the major link*/
.major-link{
    color : blue;
    font-size: 25px;
}

/* layout for the school map*/
#map{
    height: 400px; 
    width: 100%;
}



.calendar-container-month {
  background-color: white;
  border: solid navy;
  border-radius: 6px;
  width: 90%;
  margin: 20px auto;
  padding: 20px;
}

#events {
  width: 100%;      
  height: 600px;
  color: navy;
  margin: 0 auto;
}

.calendar-container-today {
  background-color: white;
  border: solid navy;
  border-radius: 6px;
  width: 90%;
  margin: 20px auto;
  padding: 20px;
  margin-top: 0px;
}

/* layout for today's calendar on home page*/
#today-events{
  border: 0;
  width:100%;
  height: 313px;
  margin-bottom: 20px;
}



/* layout for the pic and calendar window on the home page*/
#pic-and-event{
  display: flex;
  align-items: flex-start;
  gap: 50px;
}

/* layout for the facilities imgs*/
.fac-img{
  width: 400px;
  height: 300px;
  margin: 8px auto 0;
}

/* layout for the facilities explanation*/
.fac_explanation{
  font-size: 20px ;
  text-align: center;
}

/*container for the map, using bootstrap container*/
.container{
  background-color: navy;
  width: 95%;          
  max-width: 1000px;  
  margin: 0 auto;      /* center horizontally */
  padding: 10px;
  margin-bottom: 10px;
}

/* adjusting everything to the shrunk window */
@media (max-width: 600px) {
  .fac-box {
    width: 80%;
    padding: 15px;
    font-size: 14px;
  }

  .fac-img{
    width:100px;
    height: 80px;
    display: block;      
  }

  h1{
  font-size: 40px;
  }

  .custom-footer {
    font-size: 15px;         
    width: 130px;            
    height: 40px;  
  }

  h2{
    font-size: 20px;
  }

  .major-link{
    font-size: 15px;
  }

  #info{
  width: 50px;            
  height: 30px; 
  font-size: 15px;
  }

  #facility-discription{
  font-size: 15px;
  }


  #today-events{
  border: 0;
  width:100;
  height: 130px;
  font-size: 8px;
  margin-bottom: 5px;
  }

  #pic-and-event{
  display: flex;
  align-items: flex-start;
  gap: 20px;
  }

  #map{
    height: 180px; 
    width: 100%;
  } 

  #popupBox {
    min-width: 330px;
    font-size: 13px;
  }

  .fac_explanation{
  font-size: 13px !important;
  }

  .calendar-container-today{
    padding: 3px;
  }

  #events{
    font-size: 11px;
  }

  

}

