#popupBox {
    display: none; /* the box is hidden in default*/
    position: absolute; /*the place for the box will be specified by me */
    top: 40px;
    left: 0;
    background-color: #fffefe;
    border: 1px solid #0f0c0c;
    padding: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    z-index: 100; /* the box stays above other elements */
    min-width: 350px;
  }

  /* styling to the footer buttons*/
.custom-success {
    border: 2px solid #0f014c;
}


/* layout for the box in the facility page */
#facilities {
  display: flex;
  flex-direction: column; /* put boxes vertically */
  align-items: center;    /* center boxes horizontally */
  gap: 10px;              /* gaps between boxes */
  padding: 20px;
}
 /* layout for the each box insite the huge facilities box*/
.fac-box {
  width: 300px;
  padding: 20px;
  border-width: 3px;
  border-style: solid;
  border-color: #0f0c0c;
  color: black;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.4s ease;
}

.open {
  background-color: green !important; /*without importnt, this was not applied */
}

.closed {
  background-color: red !important;
}